@font-face {
  font-family: 'ComicZ'; /* nome que você escolhe */
  src: url('fonts/comicz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'ComicZ', cursive;
}

body.titulo {
  text-align: center;
}

body.titulo h1 {
  font-size: 100px;
  font-weight: bold;
}


ul.menu li {
  display: inline;
  margin: 30px;
}

@media (max-width: 600px) {
  body.titulo h1 {
    font-size: 60px;

  }
}