@font-face {
  font-family: 'ComicSans';
  src: url('./assets/fonts/comicz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scrollbar-gutter: stable;
  background-color: #000;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


/* Estilo dos links */
a,
a:visited,
a:active,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

/* Corpo da página */
body {
  font-family: 'ComicSans';
}

/* Título */
header.titulo {
  text-align: center;
}

header.titulo h1 {
  font-size: 100px;
  font-weight: bold;
}

/* Menu centralizado */
ul.menu {
  text-align: center;
  padding: 0;
  list-style: none;
  margin: 40px 0;
}

/* Ajuste para <li>, mantendo espaçamento */
ul.menu li {
  display: inline-block;
  margin: 0 5px;
}

a.moldura {
  display: inline-block;
  width: 180px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 80px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  max-width: 800px;
  margin: 40px auto;         
  padding: 20px;
  text-align: justify;       
  font-size: 18px;
  line-height: 1.6;
  color: white;
}


.imagem_capa {
  width: min(80vw, 500px);
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/*Carrosel de quadrinhos*/
.comic-modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comic-modal {
  position: relative;
  background: #181818;
  padding: 28px 10px 10px 10px;
}
.comic-close {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 2.5rem;
  color: #ccc;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ccc !important; /* cinza claro */
}

.swiper-pagination-bullet {
  background: #888!important;   /* bolinhas brancas */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;   /* bolinha ativa preta */
}


/*galeria de quadrinhos*/
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
  gap:32px;
  justify-items:center;
  max-width:904px;
  margin:0 auto;
}

/*footer*/
.footer {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
}
